* {
  margin: 0;
  padding: 0;
}
body {
  font-family: san-serif;
  border-top: 10px solid #1098ad;
}
header {
  background-color: f7f7f7;
}
h1 {
  text-transform: uppercase;
  padding: 20px 10px;
  color: #1098ad;
}
a:link,
a:visited {
  text-decoration: none;
  color: #1098ad;
  margin: 10px;
  display: inline-block;
}
a:hover {
  color: orangered;
}
h2 {
  text-transform: uppercase;
  padding: 20px 10px;
  color: #1098ad;
}
