* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #272727;
  line-height: 1.5rem;
}
.product {
  border: 2px solid rgb(16, 16, 16);
  width: 825px;
  margin: 50px auto;
  position: relative;
}
h1 {
  background-color: #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  padding: 15px 0px;
}
.price {
  font-weight: bold;
  font-size: 20px;
}
.shipping {
  text-transform: uppercase;
  color: #636161;
  margin-bottom: 20px;
  font-size: 15px;
}
a:link,
a:visited {
  color: #272727;
  display: inline-block;
  margin-bottom: 30px;
}
a:hover,
a:active {
  text-decoration: none;
}
.details {
  text-transform: uppercase;
}
ul {
  list-style-type: square;
  margin: 10px 20px;
}
button {
  width: 825px;
  text-transform: uppercase;
  font-size: 22px;
  background-color: black;
  color: white;
  border: none;
  border-top: 2px solid rgb(16, 16, 16);
  padding: 10px;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: black;
}
.product::before {
  content: "SALE";
  letter-spacing: 1.5px;
  background: red;
  font-size: 12px;
  padding: 5px;
  color: white;
  position: absolute;
  top: -22px;
  left: -15px;
  font-weight: bold;
}
.color {
  background-color: black;
  width: 24px;
  height: 24px;
  margin-bottom: 15px;
}
.color:hover {
  cursor: pointer;
  transform: scale(1.5);
}
.color-blue {
  background-color: #28286b;
}
.color-red {
  background-color: #951c1c;
}
.color-green {
  background-color: #2a6b28;
}
.color-yellow {
  background-color: #6b6b28;
}
.color-brown {
  background-color: #5e3217;
}
/* 
  img {
  float: left;
  margin-right: 40px;
}
.container-1 {
  width: 240px;
  float: left;
  margin-right: 40px;
}
.shipping {
  float: right;
}
.price {
  float: left;
}
.descript {
  clear: both;
}
.container-2 {
  width: 240px;
  float: right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
} */
.colors {
  display: flex;
  gap: 10px;
  align-items: center;
}
/* .container {
  display: flex;
  gap: 40px;
} */
.price-ship {
  display: flex;
  justify-content: space-between;
}
/* .container-1 {
  flex: 1;
}
.container-2 {
  flex: 1;
} */

/* Grid-System */
.product {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
}
.title-bar {
  grid-column: 1/-1;
}
